snippet diell "to be deleted after 25/01/2021" b
@article{diell:$1,
    title = {$2},
    author = {$3}, 
    month = {$4},
    year = {$5},
    journal = {$6},
    volume = {$7},
    issue = {$8},
    doi = {https://doi.org/$9}
}

$0
endsnippet
