snippet smb "Super Mario Bros." i
Super Mario Bros.
endsnippet

snippet tloz "The Legend of Zelda" i
The Legend of Zelda
endsnippet

snippet csl "Castlevania" i
Castlevania
endsnippet
	
snippet i "italics with visual" i
<i>${1:${VISUAL}}</i>$0
endsnippet

snippet b "bold with visual" i
<b>${1:${VISUAL}}</b>$0
endsnippet

