snippet pwer "superscript" i
<sup>$1</sup>$0
endsnippet

snippet lwer "subscript" i
<sub>$1</sub>$0
endsnippet

snippet col "Colored text"
<span style="color: ${1:color}">${2:text}</span>$0
endsnippet

