[submodule "notify-bar/.local/lib/notify-bar"]
	path = notify-bar/.local/lib/notify-bar
	url = git@github.com:karma-riuk/notify-bar.git
[submodule "bin/.local/lib/bash_ini_parser"]
	path = bin/.local/lib/bash_ini_parser
	url = https://github.com/rudimeier/bash_ini_parser
[submodule "volumectl/.local/lib/volumectl"]
	path = volumectl/.local/lib/volumectl
	url = git@git.karma-riuk.com:karma/volumectl
[submodule "bin/.local/lib/shunit2"]
	path = bin/.local/lib/shunit2
	url = https://github.com/kward/shunit2
[submodule "brightctl/.local/lib/brightctl"]
	path = brightctl/.local/lib/brightctl
	url = git@github.com:karma-riuk/brightctl.git
