snippet sys "Systems Programming Comments for graded assignments"
# Systems Programming 2022
## Graded Assignment ${1:1} - ${2:simpf}
> ${3:`!p 
import pathlib, os
snip.rv = os.path.basename(pathlib.Path().resolve()).split('_')[0]
`}

### Overall

endsnippet
